.display-wrapper {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(2, 1fr);
  padding: 2em;
  height: 500px;
  width: 500px;
  background-color: #ffafaf;
  margin-top: 1.3em;
}
