* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.display-container {
  position: relative;
}

.display-wrapper {
  columns: 320px;
  margin-top: 3em;
  overflow-x: hidden;
}

.image-container {
  border-radius: 20px;
  margin-bottom: 1em;
}

#img {
  background-size: cover;
  object-fit: cover;
  width: 100%;
  border-radius: 20px;
  cursor: pointer;
}

/* .display-wrapper {
  display: grid;
  justify-content: center;
  align-items: center;
  grid-template-columns: repeat(3, 1fr);
  padding-inline: 2em;
  width: 100%;
  overflow: auto;
  overflow-x: hidden;
}

.display-wrapper > :nth-child(3n + 1) {
  margin-top: 5em;
}

.display-wrapper > :nth-child(3n + 2) {
  margin-bottom: 5em;
}

.display-wrapper > :nth-child(3n + 3) {
  margin-top: 5em;
}

.image-container {
  aspect-ratio: 4/3;
  width: 100%;
  justify-self: center;
  padding: 1em;
  border-radius: 20px;
}

#img {
  display: block;
  justify-self: center;
  max-height: 100%;
  max-width: 100%;
  border-radius: 20px;
  background-size: cover;
  object-fit: cover;
}
 */
